<nav class="navbar navbar-default">
  <div class="row">
    <div class="col-sm-7 col-md-7">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="#">
          <strong>{{title}}</strong>
        </a></li>
        <li><a class="nav-link" [routerLink]="['']">Home</a></li>
        <li><a class="nav-link" [routerLink]="['/customers']">Customers</a></li>
        <li><a href="#">{{ username }}</a></li>
        <li><a href="#" (click)="this.logout();">Logout</a></li>
      </ul>
    </div>
    <div class="col-sm-5 col-md-5">
      <form class="" role="search">
        <div class="form-group">
          <input type="text" class="form-control box-shadow" placeholder="Search text or launch command">
        </div>
      </form>
    </div>
  </div>
</nav>
