<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <app-actionbar 
            [sourceList]="this.sourceCustomers"
            [fOrder]="this.fOrder"
            [colName]="this.colName"
            [formSearch]="this.formSearch"
            (onFilter)="update($event)"
            (onOrder)="update($event)"
            >
          </app-actionbar>
          <table class="table">
            <th><a (click)="this.sortColumn('id')">Id</a></th>
            <th><a (click)="this.sortColumn('name')">Name</a></th>
            <th><a (click)="this.sortColumn('description')">Description</a></th>
            <th><a (click)="this.sortColumn('email')">Email</a></th>
            <th>Address</th>
            <th>Phone</th>
            <th>vatFiscalCode</th>
            <th>notes</th>
            <tr *ngFor="let item of this.customers | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;" (click)="activate(i,item);" [class.active]="i==this.active">
              <td>{{item?.id}}</td>
              <td>{{item?.name}}</td>
              <td>{{item?.description}}</td>
              <td>{{item?.email}}</td>
              <td>{{item?.address}}</td>
              <td>{{item?.phone}}</td>
              <td>{{item?.vatFiscalCode}}</td>
              <td>{{item?.notes}}</td>
            </tr>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>