<label for="login">Username:</label>
<input [(ngModel)]="username" type="text" name="username" id="username">
<label for="login">Password:</label>
<input [(ngModel)]="password" type="password" name="password" id="password">
<input type="button" (click)="login()" name="login" id="login" value="Login">
<input type="button" (click)="logout()" name="logout" id="logout" value="Logout">

<div class="wrapper">
<form class="form-signin">       
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
    <label class="checkbox">
    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
</form>
</div>